	<div th:replace="shared/top"></div>
	    <section class="layout-content">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Lista de Funcionários</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/administrativo/funcionarios/cadastrar" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Cadastrar Funcionários</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container">
	
	            <p>
	                <i class="oi oi-magnifying-glass"></i><span></span>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNome"
	                        aria-controls="collapseNome">Nome
	                </button>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCargo"
	                        aria-controls="collapseCargo">Cargo
	                </button>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseData"
	                        aria-controls="collapseData">Datas
	                </button>
	            </p>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseNome">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" action="/funcionarios/buscar/nome">
	                                <input class="form-control mr-sm-2" type="search" placeholder="nome" aria-label="Search"
	                                       name="nome" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseCargo">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" action="/funcionarios/buscar/cargo">
	                                <select class="form-control mr-sm-2" name="cargo" aria-label="Search">
	                                    <option value="">Cargo</option>
	                                    <option value="1">Auxiliar Contábil</option>
	                                    <option value="2">Auxiliar Administrativo</option>
	                                    <option value="3">Contador</option>
	                                    <option value="4">Adminitrador</option>
	                                    <option value="5">Programado PHP</option>
	                                    <option value="6">Desenvolvedor Java Jr.</option>
	                                    <option value="7">Desenvolvedor Java Pleno</option>
	                                    <option value="8">Desenvolvedor Java Senior</option>
	                                    <option value="9">Auxiliar de RH</option>
	                                    <option value="10">Coordenador de RH</option>
	                                    <option value="11">Psicologo</option>
	                                </select>
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseData">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" action="/funcionarios/buscar/data">
	                                <input class="form-control mr-sm-2" type="date" aria-label="Search"
	                                       name="entrada" />
	                                <input class="form-control mr-sm-2" type="date" aria-label="Search"
	                                       name="saida" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	
	
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>ID</th>
	                        <th>Nome</th>
	                        <th>Cargo</th>
	                        <th>Salário</th>
	                        <th>Cidade</th>
	                        <th></th>
	                    </tr>
	                    </thead>
	                    <tbody>
	                    <tr th:each="employee : ${listOfEmployees}">
	                        <td th:text = "${employee.id}"></td>
	                        <td th:text = "${employee.name}"></td >
	                        <td th:text = "${employee.jobFunction}"></td>
	                        <td th:text = "${employee.salary}"></td>
	                        <td th:text = "${employee.city}"></td>
	                        
	                        <td colspan="2">
	                            <a class="btn btn-warning" th:href="@{/administrativo/funcionarios/editar/{id}(id=${employee.id})}">Editar</a>
	                            
	                            <a href="#" th:onclick="'if(confirm(\'Confirma ?\')) { window.location.href = \'' + @{/administrativo/funcionarios/remover/{id}(id=${employee.id})} + '\' } '" class="btn btn-danger">Excluir</a>
	                        </td>
	                    </tr>
	                    
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </section>
	<div th:replace="shared/bottom"></div>
	